header {
    text-align: center;
    user-select: none;
    pointer-events: none;
}

.header__logo {
    margin-inline: auto;
    width: clamp(60px, 5vw, 300px);
}

.header__title {
    width: min-content;
    background-image: var(--gradient-primary);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    margin-inline: auto;

    font-size: var(--fs-900);
}