.file-extensions__list {
    list-style-type: none;
    padding: 0;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
}

.file-extensions__select-all-action {
    width: max-content;
    margin-left: auto;
}

#select-all {
    accent-color: var(--clr-primary-400);
    margin-right: .3rem;
}

.file-extensions__fieldset {
    border: 1px solid var(--clr-neutral-200);
    border-radius: 10px;
}



.file-extensions__legend {
    font-weight: var(--fw-bold);
    font-family: var(--ff-accent);
    color: var(--clr-neutral-200);
}

.file-extensions__input {
    accent-color: var(--clr-accent-400);
    margin-right: .5rem;
}

.file-extensions__form-actions {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

