footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: auto;

    background: var(--clr-neutral-800);
    padding: 1em;
}

.social__list {
    display: flex;
    gap: .5em;
    padding: 0;
    list-style-type: none;
}

.social__link {
    color: var(--clr-neutral-100);
}

.social__link:is(:hover, :focus) {
    color: var(--clr-neutral-200);
}

@media (max-width: 680px) {
    footer {
        flex-direction: column;
    }
}