footer {
   margin-top: auto;
   background: var(--clr-neutral-800);
   padding: 1em;
}

.footer__actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__mentions {
    font-size: var(--fs-300);
}

.footer__social-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    
    list-style-type: none;
    padding: 0;
}

.social-list__item:nth-child(1) {
    width: 38px;
}

.social-list__item:nth-child(2) {
    width: 50px;
}

.social-list__icon:is(:hover, :focus) {
    transform: scale(1.03);
}