*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --clr-neutral-100-hsl: 0, 0%, 100%;
  --clr-neutral-200-hsl: 0, 0%, 67%;
  --clr-neutral-700-hsl: 254, 62%, 8%;
  --clr-neutral-800-hsl: 254, 62%, 4%;
  --clr-neutral-900-hsl: 252, 100%, 3%;

  --clr-primary-400-hsl: 252, 92%, 74%;
  --clr-secondary-400-hsl: 324, 93%, 35%;
  --clr-accent-400-hsl: 350, 93%, 55%;

  --clr-neutral-100: hsl(var(--clr-neutral-100-hsl));
  --clr-neutral-200: hsl(var(--clr-neutral-200-hsl));
  --clr-neutral-700: hsl(var(--clr-neutral-700-hsl));
  --clr-neutral-800: hsl(var(--clr-neutral-800-hsl));
  --clr-neutral-900: hsl(var(--clr-neutral-900-hsl));

  --clr-primary-400: hsl(var(--clr-primary-400-hsl));
  --clr-secondary-400: hsl(var(--clr-secondary-400-hsl));
  --clr-accent-400: hsl(var(--clr-accent-400-hsl));

  --gradient-primary: linear-gradient(to right,
    var(--clr-primary-400),
    var(--clr-accent-400));

  --ff-accent: 'Roboto', sans-serif;
  --ff-default: 'Nunito', sans-serif;

  --fw-bold: 700;
  --fw-medium: 500;
  --fw-regular: 400;
  --fw-light: 300;

  --fs-900: 2.6rem;
  --fs-800: 1.9rem;
  --fs-600: 1.3rem;
  --fs-400: 1.1rem;
  --fs-300: 1rem;
}

/* === Global styling === */
img,
svg {
  display: block;
  max-width: 100%;
}

body {
  min-height: 100svh;

  font-family: var(--ff-default);
  font-size: var(--fs-400);
  font-weight: var(--fw-light);
  color: var(--clr-neutral-100);
  background: var(--clr-neutral-900);
}

h1, h2, h3 {
  font-family: var(--ff-accent);
  font-weight: var(--fw-bold);
}

/* === Utility classes === */
//Layout
.container {
  width: 80%;
  margin-inline: auto;
  max-width: 1200px;
}

//Style
.bg-primary {
  background: var(--clr-primary-400);
}

.button {
  display: inline-block;

  border: none;
  padding: .4em 1em;
  border-radius: 10px;
  text-decoration: none;

  font-family: var(--ff-accent);
  font-weight: var(--fw-medium);
  font-size: var(--fs-400);
  letter-spacing: .2px;
  cursor: pointer;
}

.button.button-with-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: clamp(.5em, 2vw, 1em);
}

.button.bg-primary {
  color: var(--clr-neutral-900);
}

.button.bg-primary:is(:focus, :hover) {
  $bg-color: hsl(252, 92%, 74%);
  background: lighten($color: $bg-color, $amount: 3);
}

.button.bg-secondary {
  background: var(--clr-secondary-400);
  color: var(--clr-neutral-100);
}

.button.bg-secondary:is(:focus, :hover) {
  $bg-color: hsl(324, 93%, 35%);
  background: lighten($color: $bg-color, $amount: 3);
}

.button:disabled {
  background: var(--clr-neutral-700);
  color: var(--clr-neutral-200);
}

.button:disabled:is(:hover, :focus) {
  background: var(--clr-neutral-700);
  color: var(--clr-neutral-200);
}

.darken-text {
  color: var(--clr-neutral-200);
}