.sorting-tool-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.file-selectors {
  display: grid;
  gap: 2rem;
  margin-inline: auto;
  margin-top: 3em;
}

@media (min-width: 1100px) {
  .file-selectors {
    grid-template-columns: repeat(2, 1fr);
  }
}

.sorting-tool__settings {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 2rem;
}

.button.sorting-tool__setting-button {
  background-color: hsl(324, 93%, 35%, 30%);
  color: var(--clr-neutral-100);
  font-weight: var(--fw-regular);
  padding: .5em 1.5em;
}

.sorting-tool__sort-button {
  margin: 2em auto;
}

.progress-error {
  text-align: center;
}

.progress-error__name {
  color: var(--clr-accent-400);
  margin-bottom: 0.2em;
}
